.background {
    -fx-background-color: #E0F4FF;
}
.button {
    -fx-background-color: linear-gradient(to bottom right, #87C4FF , #61B8FF );
    -fx-cursor: hand;
    -fx-background-radius: 7px;
}
.button:hover {
    -fx-background-color: #bad7f2;
}
.label {
    -fx-background-color: #9dc6fb;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-font-family: Helvetica;
    -fx-font-size: 19px;
}
.progressBar .bar {
    -fx-background-color: #61B8FF
}
