.background {
    -fx-background-color: #E0F4FF;
}
.button {
    -fx-background-color: linear-gradient(to bottom right, #87C4FF , #61B8FF );
    -fx-cursor: hand;
    -fx-background-radius: 7px;
}
.button:hover {
    -fx-background-color: #bad7f2;
}
.textField {
    -fx-background-color: #c4d8e8;
}
.textField:hover {
    -fx-background-color: #BEDEFF;
}
.listView {
    -fx-control-inner-background:  #DFF5FF;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
}