.white-bg{
    -fx-background-color: #fff;
}
.background {
    -fx-background-color: #E0F4FF;
}
.topBackground {
    -fx-background-color: #9FEEFF;
}
.green-bg{
    -fx-background-color: #7ACCB9 ;
}
.btn{
    -fx-background-color: linear-gradient(to bottom right, #87C4FF , #39A7FF );
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
    -fx-font-size: 32px;
    -fx-font-family: Arial;
    -fx-border-color: #65aeea;
    -fx-border-width: 6px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.menuLabel {
    -fx-background-color: #9dc6fb;
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-family: Helvetica;
    -fx-font-size: 32px;
}
.smallButton {
    -fx-background-color: #87C4FF;
        -fx-cursor: hand;
        -fx-text-fill: #ffffff;
        -fx-font-size: 0px;
        -fx-font-family: Arial;
        -fx-border-color: #65aeea;
        -fx-border-width: 3px;
        -fx-background-radius: 10px;
        -fx-border-radius: 10px;
}
.smallButton:hover {
    -fx-background-color: #bad7f2;
}
.btn:hover{
    -fx-background-color: #bad7f2;
}
.textField{
    -fx-border-color: #000;
    -fx-border-width: .5px;
}
.textField:focused{
    -fx-border-color: linear-gradient(to bottom right, #16a47c , #7ACCB9);
    -fx-border-width: .8px;
}
.lab{
    -fx-text-fill : #5fc3ab;
    -fx-font-size: 14px ;
    -fx-font-family: Arial;
}

